<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloZowe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HelloZowe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
